<!DOCTYPE html>
<html lang="en" xmlns="https://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facturas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .no-padding {
        padding-left: 0;
        padding-right: 0;
      }
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid flex-grow-1 no-padding">
      <nav class="navbar navbar-expand-lg bg-dark w-100 p-3">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">FRANK REPARACIONES</a>
          <div
            class="collapse navbar-collapse d-flex justify-content-end align-items-center"
            id="navbarSupportedContent"
          >
            <a class="btn btn-outline-primary me-2" href="crear"
              >Crear Factura</a
            >
            <form
              class="d-flex"
              th:action="@{/facturas/filtrar}"
              method="get"
              role="search"
            >
              <input
                class="form-control me-2"
                type="date"
                placeholder="Filtrar por fecha"
                aria-label="Buscar"
                name="fecha"
                required
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </nav>

      <h1 class="text-center mt-5">Facturas</h1>

      <div class="container mt-5">
        <table
          class="table table-striped table-hover table-bordered table-sm table-responsive text-center"
        >
          <thead class="table-dark">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Abono</th>
              <th scope="col">Costo Total</th>
              <th scope="col" style="width: 25%">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="factura : ${facturas}">
              <td th:text="${factura.fecha}"></td>
              <td
                th:text="'$' + ${#numbers.formatDecimal(factura.abono, 1, 'COMMA', 2, 'POINT')}"
              ></td>
              <td
                th:text="'$' + ${#numbers.formatDecimal(factura.costoTotal, 1, 'COMMA', 2, 'POINT')}"
              ></td>
              <td>
                <a
                  th:href="@{/facturas/editar/{id}(id=${factura.id})}"
                  class="btn btn-primary"
                  >Editar</a
                >
                <a
                  th:href="@{/facturas/ver/{id}(id=${factura.id})}"
                  class="btn btn-success"
                  >Ver</a
                >
                <a
                  th:href="@{/facturas/eliminar/{id}(id=${factura.id})}"
                  class="btn btn-danger"
                  >Eliminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="container-fluid mt-5">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted">&copy; 2024 Frank Reparaciones</p>

        <a
          href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="/facturas/ver" class="nav-link px-2 text-muted"
              >Facturas</a
            >
          </li>
          <li class="nav-item">
            <a href="/clientes/ver" class="nav-link px-2 text-muted"
              >Clientes</a
            >
          </li>
          <li class="nav-item">
            <a href="/servicios/ver" class="nav-link px-2 text-muted"
              >Servicios</a
            >
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
