<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .no-padding {
        padding-left: 0;
        padding-right: 0;
      }
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid flex-grow-1 no-padding">
      <nav class="navbar navbar-expand-lg bg-dark w-100 p-3">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/">FRANK REPARACIONES</a>
          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
          ></div>
        </div>
      </nav>

      <div class="container mt-5">
        <div class="row g-3">
          <div class="col-6">
            <button
              class="btn btn-secondary w-100"
              onclick="window.location.href='/facturas/ver' "
            >
              <div class="p-3 text-white-emphasis">Gestionar facturas</div>
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-secondary w-100"
              onclick="window.location.href='/clientes/ver' "
            >
              <div class="p-3 text-white-emphasis">Gestionar clientes</div>
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-secondary w-100"
              onclick="window.location.href='/servicios/ver'"
            >
              <div class="p-3 text-white-emphasis">Gestionar servicios</div>
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-secondary w-100"
              onclick="window.location.href='/contratistas/ver' "
            >
              <div class="p-3 text-white-emphasis">Gestionar contratistas</div>
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-secondary w-100">
              <div class="p-3 text-white-emphasis">Gestionar proveedores</div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-5">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-muted">&copy; 2024 Frank Reparaciones</p>

        <a
          href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item">
            <a href="/" class="nav-link px-2 text-muted">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="/facturas/ver" class="nav-link px-2 text-muted"
              >Facturas</a
            >
          </li>
          <li class="nav-item">
            <a href="/clientes/ver" class="nav-link px-2 text-muted"
              >Clientes</a
            >
          </li>
          <li class="nav-item">
            <a href="/servicios/ver" class="nav-link px-2 text-muted"
              >Servicios</a
            >
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
